@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

 

#div2 section{
    margin-top: 20%;
    min-height: 100vh;
    #text{
        span{
            position: relative;
            display: inline-block;
        }
    }
}

#h1name{
    font-size: 80px;
    font-family: 'Comforter Brush', cursive;
    color: rgb(255, 255, 255); 
}

 